# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

QUARKUS_GITHUB_APP_APP_ID=<your-GitHub-app-id>
QUARKUS_GITHUB_APP_APP_NAME=<name-of-your-app>
QUARKUS_GITHUB_APP_WEBHOOK_PROXY_URL=<your-Smee.io-channel-URL>
QUARKUS_GITHUB_APP_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\
                 <your-private-key>                          \
-----END RSA PRIVATE KEY-----

# uncomment and set the following variables to enable email notifications
# QUARKUS_MAILER_FROM=<email-address>
# QUARKUS_MAILER_USERNAME=<email-address>
# QUARKUS_MAILER_PASSWORD=<email-password>
